*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
html{
    overflow: hidden;
}
::-webkit-scrollbar {
    width: 0px; /* Remove scrollbar space */
    display: none;
}
body{
    font-family: 'Inconsolata', monospace;
    color:rgba(255, 255, 255, 1);
}

main{
    background-color: rgba(0, 0, 0, 1);
    width: 500px;
    height: 600px;
}

.display{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-end;
    height: 20%;
    font-size: 40px;
    padding: 20px;
    border-bottom: 1px solid grey;
}

#old_display_text{
    font-size: 20px;

}

.buttons, table{
    height: 80%;
    width: 100%;
}

td{
    text-align: center;
    width: calc(100% / 4);
    height: calc(100% / 4);
    border: 1px solid rgba(255, 255, 255, 0.4);
}

button{
    color:rgba(255, 255, 255, 1);
    background-color: transparent;
    border: none;
}
button:hover{
    cursor: pointer;
}

